.container{
    height: 700px;
    width: 600px;
    border: 1px solid red;
    background-color: yellow;
    display: grid;

    grid-template-columns: 100px 100px 100px;
    grid-template-rows: 100px 100px;
    /* gap: 10px; */

    /* justify-content: end;
    justify-content: center;
    justify-content: space-around;
    justify-content: space-evenly;
    justify-content: space-between; */


    /* align-items: start;
    align-items: end;
    align-items: center;
    align-items: baseline;
    align-items: stretch; */

    /* align-content: start;
    align-content: end;
    align-content: center;
    align-content: space-around;
    align-content: space-evenly;
    align-content: space-between; */

    /* place-content: center; */
    /* place-items: center; */
}

.box{
    border: 1px solid green;
    background-color: aqua;
}

#box1{
    /* justify-self: start;
    justify-self: end; */
    /* justify-self: center; */

    /* align-self: start;
    align-self: end;
    align-self: center; */
}